body {
    background: #333;
    color: #fff;
}

.troll {
    display: inline-block;
    margin: 15px;
    text-align: center;
    cursor: url(sword.png), auto;
}

.troll .name, .troll .life {
    font-size: 8px;
}

.troll.well .name {
    color: green;
}

.troll.wounded .name {
    color: yellow;
}

.troll.dead .name {
    color: red;
}

.troll.victorious {
    font-size: 32px;
}